app_title='Zabbix Dashboard'
cookie_secret='this is the secert, broskis'
debug=False

plugins='zabbixdash'
template_path='zabbixdash/templates'
static_path='zabbixdash/static'

plugin_opts = {
  'zabbixdash': {
    'session': {
      'max_age_days': .6,
      'expires_days': None
    },
    'auth': {
      'method': 'ldap',
      'ldap': {
        'uri': 'ldaps://ldap.company.com:636/',
        'baseDN': 'ou=users,o=company',
        },
    },
    'endpoints': [
            {
                'name': 'Dev',
                'uri': 'https://zabbix.dev.company.com/zabbix',
                'user': 'user',
                'pass': '',
                'ssl_verify': False
            },
            {
                'name': 'Staging',
                'uri': 'https://zabbix.staging.company.com/zabbix',
                'user': 'user',
                'pass': '',
                'ssl_verify': False
            }
        ]
      }
  }
