
<!DOCTYPE html>
<html>
<head>
	<title>{{ app_title }} - {{ title }}{% block title %}{% end %}</title>
	<meta name="viewport" content="width=device-width">
	<link rel="stylesheet" type="text/css" href="https://eafdbc63c97ce6bec9ef-b0a668e5876bef6fe25684caf71db405.ssl.cf1.rackcdn.com/v1-latest/canon.min.css">
        <script type="application/javascript" src="https://da722f248d16af572296-060dd8220fb3d3a823ad21f55972a50f.ssl.cf1.rackcdn.com/jquery-1.11.3.min.js"></script>
	<script type="application/javascript" src="https://eafdbc63c97ce6bec9ef-b0a668e5876bef6fe25684caf71db405.ssl.cf1.rackcdn.com/v1-latest/canon.min.js"></script>
        <script type="application/javascript" src="https://da722f248d16af572296-060dd8220fb3d3a823ad21f55972a50f.ssl.cf1.rackcdn.com/jquery.tablesorter.min.js"></script>
        <script type="application/javascript">
            function toggle_view(name) {
                element = document.getElementById(name)
                if (element.classList.contains('hidden')) {
                    element.classList.remove('hidden')
                    element.classList.add('visible')
                } else {
                    element.classList.remove('visible')
                    element.classList.add('hidden')
                }
                return
            }

            // Table sorting. Add css selectors below
            $(document).ready(function(){
              $("table.rs-table-sort").tablesorter(
                {textExtraction: 'complex',
                 cssDesc: 'rs-table-sort-desc',
                 cssAsc: 'rs-table-sort-asc',
                 cssHeader: 'rs-table-sort'}
              );
            });
        </script>
        <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
        <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
        {% block head %}{% end %}
</head>

<body class="rs-responsive">
	<div class="rs-wrapper">
		<div class="rs-nav-utility">
			<div class="rs-container">
				<ul class="rs-nav rs-pull-right">
            <li class="rs-nav-item">
                {% if current_user is None %}
                        <a class="rs-nav-link" href="/login">Login</a>
                {% else %}
                      <li class="rs-dropdown rs-utility-dropdown">
                        <a class="rs-dropdown-toggle" onClick="toggle_view('dropdown')" href="javascript:void(0);">
                            User: {{ current_user }} <i class="rs-caret"></i>
                        </a>
                        <ul id="dropdown" class="rs-dropdown-menu hidden">
                          <li class="rs-dropdown-item">
                                <a class="rs-dropdown-link">Zabbix Servers<span style="cursor:pointer;" onClick="window.location = '/add_zabbix_handle'">Add</span></a>
                                <span class="rs-dropdown" style="font-size:11px;">
                                <ul>
                                  {% for handle in zabbix_handles %}
                                    <li>{{ handle }}</li>
                                  {% end %}
                                </ul>
                                </span>
                          </li>
                          <li class="rs-divider"></li>
                          <li class="rs-dropdown-item">
                            <a class="rs-dropdown-link" href="/logout">Log Out</a>
                          </li>
                        </ul>
                      </li>
                {% end %}
            </li>
				</ul>
			</div>
		</div>
		{% block nav %}
				<div class="rs-nav-primary" id="mainmenu">
					<div class="rs-container">
						<div class="rs-nav-brand">
							<a href="/"></a>
						</div>
						<ul class="rs-nav">
                                                    {% for name, link in nav_links %}
							<li><a href="{{ link }}">{{ name }}</a></li>
                                                    {% end %}
						</ul>
					</div>
				</div>
                {% end %}
		<div class="rs-body">
			<div class="rs-container">
				<div class="rs-main">
					<div class="rs-content rs-panel">
						<div class="rs-inner">
							<h2 class="rs-page-title">Zabbix Dashboard</h2>
							{% block body %}

							{% end %}
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="rs-push"></div>
	</div>
	<div class="rs-nav-footer">
		<div class="rs-container">
			<ul class="rs-nav">
                                <li class="rs-nav-item">Zabbix Dashboard v{{ VERSION }}</li>
				<li class="rs-nav-item">&copy; Rackspace, US</li>
				<li class="rs-nav-item"><a class="rs-nav-link" href="http://www.rackspace.com/information/legal/websiteterms" target="blank">Website Terms</a>
				<li class="rs-nav-item"><a class="rs-nav-link" href="http://www.rackspace.com/information/legal/privacystatement" target="blank">Privacy Policy</a>
			</ul>
		</div>
	</div>
</body>
</html>
